<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book an appointment</title>
</head>
<body>
    <h1>Book an appointment </h1>
    <form action="/appointments" method="post">
        <label for="patientName">patient name:</label>
        <input type="text" title="patName" id="patientName" name="patientName">
        
        <label for="date">Date: </label>
        <input type="date" title="date" id="date" name="date">
        
        <label for="reason">Reason:</label>
        <input type="text" title="reason" name="reason">
        
        <label for="doctor">Doctor: </label>
        <select multiple name="doctor" id="doctor">
            <% allDocs.forEach((oneDoc)=>{%>
                <option value="<%= oneDoc._id %>"><%= oneDoc.name %></option>
            <% }) %>
        </select>
        
        <button>Book appointment</button>
    </form>

</body>
</html>