<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor details</title>
</head>
<body>
    <h1>Doctor details</h1>
    <p>Doctor name: <%= foundDoc.name%></p>
    <p>Specialty: <%= foundDoc.specialty %></p>
    <p>Years of Experience: <%= foundDoc.yearsOfExperience %></p>
</body>
</html>